<html>

<div class="indices">
    <span>S&P 500: <%= (@indice[0] * 10).round(2) %></span>
    <span>Dow Jones: <%= (@indice[1] * 100).round(2) %></span>
    <span>Russell 2000: <%= (@indice[2] * 10).round(2) %></span>
</div>


  <section class="tview">
  <div class="tradingview-widget-container">
    <div id="tradingview_97a76"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">

      // window.onresize = function(){
      //   updateWindowSize();
      // }
      //
      // var updateWindowSize = function(){
      //   return (window.innerWidth / 3) - 29;
      // }

      // var size = (window.innerWidth / 3) - 29;

      window.onresize = function(){
        location.reload();
      }

      new TradingView.widget(
      {
        "width": Math.round(window.innerWidth / 3), //980,
        "height": 375,  //610,
        "symbol": "spy",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_97a76"
      }
      );
    </script>
  </div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/spy/" rel="noopener" target="_blank"><span class="blue-text">SPY Chart</span></a>  by TradingView</div>
  </section>



  <section class="tview-1">
  <div class="tradingview-widget-container-1">
    <div id="tradingview_97a77"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
      {
        "width": Math.round(window.innerWidth / 3), //980,
        "height": 375,  //610,
        "symbol": "dji",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_97a77"
      }
      );
    </script>
  </div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/dji/" rel="noopener" target="_blank"><span class="blue-text">DJI Chart</span></a>  by TradingView</div>
  </section>

  <section class="tview-2">
  <div class="tradingview-widget-container-2">
    <div id="tradingview_97a78"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript">
      new TradingView.widget(
      {
        "width": Math.round(window.innerWidth / 3), //980,
        "height": 375,  //610,
        "symbol": "russell-rut",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "toolbar_bg": "#f1f3f6",
        "enable_publishing": false,
        "allow_symbol_change": true,
        "container_id": "tradingview_97a78"
      }
      );
    </script>
  </div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/rut/" rel="noopener" target="_blank"><span class="blue-text">RUT Chart</span></a>  by TradingView</div>
  </section>


</html>
