// Place all the styles related to the movers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.indices {
    clear: left;
}

.indices > span {
    
    border: 1px solid lightgray;
    font-size: 50px;
    padding: 50px;
    text-align: center;
    width: 33.33%;

}



